@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0: #DE6A71;
    --cor1: #FDB32D;
    --cor2: #2DB5E2;
    --cor3: #4D7F42;
    --cor4: #DB2D36;
    --footer: black;
    
    --font-family: 'Bebas Neue', sans-serif;  
}

body {

}

header {
    text-align: center;
    background-color: #DB2D36;
    font-family: var(--font-family);
    color: white;
    font-size: 80px;
    height: 140px;
    width: 100%;
    margin: -8px;
    padding: 1px;
    padding-bottom: 83px;
}

nav {
    background-color: #FDB32D;
    font-family: var(--font-family);
    font-size: 45px;
    text-align: center;
    width: auto;
    height: 60px;
    margin: -8px;
    padding-top: 8px;
}

a {
    color: #DB2D36;
    text-decoration: none;
    margin-top: 1px;
    padding: 1px;
    border-left: 10px;
    border-color: var(--footer);
}
section {
    font-family: var(--font-family);
    font-size: 40px;
    color: #DB2D36;
    padding-left: 5%;
}

article {
    background-color: #FDB32D;
    color: #4D7F42;
    font-family: var(--font-family);
    font-size: xxx-large;
    text-align: center;
    width: 50%;
    margin: -8px;
}

footer {
    background-color: var(--cor2);
    color: white;
    text-align: center;
    font-family: var(--font-family);
    font-size: xx-large;
    height: 84px;
    padding: 1px;
    margin: -8px;
    margin-top: 79px;
    padding-bottom: 11px;
}
