@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0: #DE6A71;
    --cor1: #FDB32D;
    --cor2: #2DB5E2;
    --cor3: #4D7F42;
    --cor4: #DB2D36;
    --footer: black;
    --font-family: 'Bebas Neue', sans-serif;  
}

body {
    height: 100vh;
    background-image: url(imagens/LUMINARIAPAGINAPRICIPAL2.jpg);
    background-size: 100% 100%;
    background-position: center top;
    background-repeat: repeat;
}

header {
    color: white;
    font-family: var(--font-family);
    font-size: 70px;
    padding-top: 2%;
    margin-left: 10%;
}

article {
    background-color: rgba(0, 0, 0, 0);
    color: #FDB32D;
    font-family: var(--font-family);
    font-size: 48px;
    height: 401px;
    width: 50%;
    margin-left: 2%;
}

footer {
    
    text-align: end;
    font-family: var(--font-family);
    font-size: 60px;
}

a {
    text-decoration: none;
    color: white;
}
